.App {
  background-color: #232428;
  overflow: hidden;
  height: 100vh;
}

.Terminal {
  background-color: #1b1b1b;
  color: white;
  height: 60vh;
  width: 60vw;
  padding: 1rem;
  margin-left: 18vw;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Courier New', Courier, monospace;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.1rem;
  border: solid 0.1rem #484747;
}

Output {
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Courier New', Courier, monospace;
}

Input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
  font-family: 'Courier New', Courier, monospace;
  width: 55vw;
}



.App-header {
  background-color: #232428;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  font-weight: 500;
  color: white;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/